---
import type { CollectionEntry } from 'astro:content'
export interface Props {
  experience: CollectionEntry<"experience">
}

const { experience } = Astro.props
const startDate = getDisplayDate(experience.data.startDate)
const endDate = getDisplayDate(experience.data.endDate)

function getDisplayDate(dateString: string) {
  const year = new Date(dateString).getUTCFullYear()
  const month = new Date(dateString).getMonth()
  return month + '-' + year
}
---
<li>
  <em>{startDate} - {endDate}</em>
  <h3> {experience.data.position} at <a href={experience.data.companyUrl} target="_blank">{experience.data.companyName}</a></h3>
  <p>{experience.data.details}</p>
</li>

<style>
  li {
    margin-bottom: 4.4rem;
    position: relative;
  }
  
  li::before {
    content: "•";
    color: red;
    top: 0;
    left: -6.25rem;
    background-color: white;
    color: transparent;
    border: 4px solid red;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: absolute;
  }

  em {
    color: #888
  }

  h3 {
    margin-top: 1rem;
    margin-bottom: 0.7rem;
  }
</style>
